* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fbfcfe;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.contianer {
  background-color: #fff;
  border: 3px #000 solid;
  max-width: 1000px;
  border-radius: 9px;
  padding: 30px;
  text-align: center;
}
.code-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}
.code {
  width: 100px;
  height: 120px;
  font-size: 75px;
  border-radius: 6px;
  border: 1px solid #eee;
  text-align: center;
  margin: 0.8%;
  font-weight: 300;
}

.code::-webkit-outer-spin-button,
.code::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.code:valid {
  border-color: #3498db;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.25);
}
.info {
  background-color: #eaeaea;
  color: #777;
  display: inline-block;
  padding: 10px;
  border-radius: 6px;
  line-height: 20px;
  max-width: 400px;
}

@media (max-width: 600px) {
  .code-container {
    flex-wrap: wrap;
  }

  .code {
    font-size: 60px;
    height: 80px;
    max-width: 70px;
  }
}
